:root {
    --curve: 40;
  }

  .hero_title {
    margin-top: -1rem;
  }

  .primary_message img {
    margin-bottom: -1rem;
  }

  .brand {
    margin-bottom: 1.4rem;
  }

  .testimonial_container h2 {
    margin-top: -3rem;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 2rem 5vw;
    padding: 0;
    list-style-type: none;
    padding-bottom: 5rem;
    margin-bottom: 0;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
    border-radius: .5rem;
  }
  

  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--color-light-bg);
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--color-light-bg);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--color-light-bg);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  


  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: var(--color-black);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    



  .contact {
    padding: 3rem 10rem;
    margin-top: -2rem;
  }

.footer_container {
  margin-top: -4rem;
}
























/* Media Queries */
@media screen and (max-width: 1024px) {

  .hero_container {
    margin-top: 0;
  }

  .primary_message img {
    margin-bottom: -1rem;
  }

  .supplementary_message {
    margin-top: 1.6rem;
  }
  .brand {
    margin-bottom: 5rem;
  }


  .testimonial_container h2 {
    margin-top: -4rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    padding-bottom: 3rem;
  }
  
 

  .card__title {
    color: var(--color-black);
  }
  


}









/* Media Queries */
@media screen and (max-width: 750px) {
  .hero_title {
    margin-top: -.8rem;
  }

.primary_message img {
  margin-bottom: -.2rem;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
}

.supplementary_message {
  margin-top: -.9rem;
}

  .brand {
    margin-top: -12rem;
  }
  .hero_container {
    margin-bottom: -2rem;
    margin-right: .5rem;
    margin-left: .5rem;
  }
  .testimonial_container h2 {
    margin-bottom: -1.5rem;
  }






}



